<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nebulord.mapper.TreerepoMapper">

    <select id="getUUIDByUserid" parameterType="String" resultType="String">
        select uuid from treerepo where userid=#{id}
    </select>

    <select id="getUseridByUUID" resultType="String" parameterType="String">
        select userid from treerepo where uuid=#{uuid}
    </select>

    <insert id="addTreerepo" parameterType="Treerepo">
        insert into treerepo(userid, uuid)
        values(#{userid},#{uuid})
    </insert>

</mapper>